<script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>

<script type="text/javascript" src="/js/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

 
 
<div id="container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
  id: '<%= page.date %>', // 可选。默认为 location.href  Gitment https://imsun.net/posts/gitment-introduction/
  owner: 'whiteram',
  repo: 'blogcomment',
  oauth: {
    client_id: '881cfef9f714a6e27050',
    client_secret: 'a95d93d4849af221e130e21866ff2a8d9fa565f5',
  },
})
gitment.render('container')
</script>

