---
layout: default
---

<article class="post-container post-container--single" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-meta">
      <img src="/images/calendar.png" width="20px"/> 
      <time datetime="{{page.date | date: date_to_xmlschema}}" itemprop="datePublished" class="post-meta__date date">{{page.date | date: "%F"}}</time>  
         
      <span id="busuanzi_container_page_pv"> | 阅读：<span id="busuanzi_value_page_pv"></span>次</span>
    </p>
    </div>
  </header>

  <section class="post">
    {{ content }}

  </section>
</article>

{% include new-old.html %}
{% include comments.html %}


<script>

const myTheme = {
  render(state, instance) {
    const container = document.createElement('div')
    container.lang = "zh-CN"
    container.className = 'gitment-container gitment-root-container'
    container.appendChild(instance.renderHeader(state, instance))
    container.appendChild(instance.renderEditor(state, instance))
    container.appendChild(instance.renderComments(state, instance))
    container.appendChild(instance.renderFooter(state, instance))
    return container
  },
}

var gitment = new Gitment({
  id: page.date, // 可选。默认为 location.href  Gitment https://imsun.net/posts/gitment-introduction/
  owner: 'whiteram',
  repo: 'blogcomment',
  theme: myTheme,
  oauth: {
    client_id: '881cfef9f714a6e27050',
    client_secret: 'a95d93d4849af221e130e21866ff2a8d9fa565f5',
  },
})
gitment.render('container')
</script>
